.genre-thumbnail{
	border: 1px solid #d9d9d9;
	overflow: hidden;
  opacity: 0.6;
}

#photos {
   line-height: 0;   
   -webkit-column-count: 5;
   -webkit-column-gap: 10px;
   -moz-column-count: 5;
   -moz-column-gap: 10px;
   column-count: 5;
   column-gap: 10px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
