
.modal-content {
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important; 
}

.modal-title{
  margin-left: 10px;
}

.modal-header button.close, .modal-footer button.btn[type="submit"]{
  margin-right: 10px;
}

.modal-header button.close{
  margin-top: 0px;
  color: #fafafa;
  opacity: 1;
  font-weight: 100;
}

.modal-header{
  background: #E57C1F;
  border-top-right-radius: 4px !important; 
  border-top-left-radius: 4px !important;
  border-bottom: none;
}

.modal label{
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-top: 7px;
}

.modal-footer{
  border-top: none;
}

.modal-footer button{
  border: none;
}

.modal-footer button.btn[type="submit"]{
  background: #E57C1F;
  color: #fafafa;
}

.modal-content{
  background: #232323;
}

body.modal-open #main{
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}