
html, body{
  font-family: Roboto;
  letter-spacing: 0.03em;
  color: #fafafa;
}

a{
    color:#fafafa;
    text-decoration: none !important;
}
a:hover, a:focus{
    color:#9e9e9e;
}
.fa-bell{
  font-size: 14px;
}

.navbar-nav li a, .navbar-nav li span{
  color: #fafafa !important;
}

/* remove outer padding */
.main .row{
  padding: 0px;
  margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
  border-radius: 0px;
}

/* Add gap to nav and right windows.*/
.main{
  padding: 10px 10px 0 10px;
}

@media (max-width: 750px) {
  .navbar-brand img{
    width: 85px;
    margin-top: -12px;
  }
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

  .sidebar{
    background: #212121;
    position: fixed;
    top:0;
    bottom: 0;
    width: 200px;
  }

  /*Allow main to be next to Nav*/
  .main{
    position: absolute;
    width: calc(100% - 40px); /*keeps 100% minus nav size*/
    margin-left: 40px;
    float: right;
  }

  /*lets nav bar to be showed on mouseover*/
  nav.sidebar .main{
    margin-left: 200px;
  }

  /*Center Brand*/
  nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
  }
  /*Center Brand*/
  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  /*Center Icons*/
  nav.sidebar a{
    padding-right: 13px;
  }

  /*adds border top to first nav box */
  /*nav.sidebar .navbar-nav > li:first-child{
    border-top: 1px #e5e5e5 solid;
  }*/

  /*adds border to bottom nav boxes*/
  /*nav.sidebar .navbar-nav > li{
    border-bottom: 1px #e5e5e5 solid;
  }*/

  /* Colors/style dropdown box*/
  nav.sidebar .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /*allows nav box to use 100% width*/
  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }

  /*colors dropdown box text */
  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  /*gives sidebar width/height*/
  nav.sidebar{
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    z-index: 8000;
    margin-bottom: 0px;
  }

  /*give sidebar 100% width;*/
  nav.sidebar li {
    width: 100%;
  }

  /* Move nav to full on mouse over*/
  nav.sidebar:hover{
    margin-left: 0px;
  }
  /*for hiden things when navbar hidden*/
  .forAnimate{
    opacity: 0;
  }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

  /*Allow main to be next to Nav*/
  .main{
    width: calc(100% - 200px); /*keeps 100% minus nav size*/
    margin-left: 200px;
  }

  /*Show all nav*/
  nav.sidebar{
    margin-left: 0px;
    float: left;
  }
  /*Show hidden items on nav*/
  nav.sidebar .forAnimate{
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;
  background-color: transparent;
}

nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}

/*Notification Modal Right*/

.modal-backdrop, .modal-backdrop.fade.in{
  opacity: 0;
}

.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.right .modal-body {
  padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header-notification {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
  padding: 13px;
}

/* ----- End Notification Modal ----- */



/* FEED SECTION */

#feed-section::-webkit-scrollbar
{
    display: none;
}

.feed-band-pic{
    height: 35px;
    width: 35px;
}

.panel-default{
    border-radius: 0px;
}

.pnlhead-feed{
    background: transparent !important;
}

.feed-timestamp-time{
    font-size: 11px;
    margin-top: 10px;
}

.feed-timestamp-date{
    font-size: 11px;
    margin-top: 10px;
    margin-right: 8px;
}

.feed-band-name{
    vertical-align: middle;
    margin-left: 5px;
}

.feed-content{
    padding: 15px;
}

#feed-section{
    overflow-y: scroll;
    max-height: 850px;
}

.friends-in-aria-pic{
    width: 40px;
    height: 40px;
}

/* END FEED SECTION*/