html,body{
  font-family: 'NotoSans-Regular';
}

/* 1360x768 and 1366x768 */
@media (min-width: 1360px) and (max-width: 1366px){ 
  
}

/* 1600x900 */
@media (min-width: 1599px) and (max-width: 1768px){

}

/* 1920x1080 */
@media (min-width: 1919px) and (max-width: 1920px){
}

/* IPAD */
@media (min-width: 767px) and (max-width: 768px){
}

/* IPAD PRO*/
@media (min-width: 1023px) and (max-width: 1024px){ 
}

/* MOBILE DEVICES */
@media (max-width: 415px){
}

/*SMALLER MOBILE DEVICES*/
@media (max-width: 380px){
}

/* iPhone 5*/
@media (max-width: 320px){
}

.navbar{
  border-radius: 0px;
  margin-bottom: 0px;
}

.user-name-title{
  font-size: 22px;
    text-align: center;
}

.band-role-name{
  text-align: center;
  font-size: 16px;
}

.band-name-feed{
    font-size: 14px;
}

.user-profile-ul{
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0px;
}

.user-profile-ul li{
    border-radius: 0px;
    border-left-color: transparent;
    border-right-color: transparent;
    text-align: center;
}

.user-profile-ul a:hover, .user-profile-ul a:focus{
    text-decoration: none;
}

.accordion-body-content{
    padding-left: 30px;
    padding-right: 30px;
}

.panel-body{
  font-size: 13px;
}

.panel-thumbnail img{
    display: block;
    margin: auto;
    object-fit: cover;
    overflow: hidden;
}

.panel-thumbnail{
    background: #000;
}

.basic-info-p{
    font-size: 14px;
}

.basic-info-p span{
    margin-right: 10px;
}

.band-pic-feed-header{
    display: block;
    margin: auto;
    object-fit: cover;
    overflow: hidden;
    height: 50px;
    width: 50px;
}

.media-heading{
  font-size: 16px;
}

.media-body{
    padding: 3px;
}


.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}


.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
}

.profile-inline {
    position: relative;
    top: 0;
    display: inline-block;
}

.profile-inline ~ .card-title {
    display: inline-block;
    margin-left: 4px;
    vertical-align: top;
}
.meta {
    font-size: 1em;
    color: rgba(0, 0, 0, .4);
}

.meta a {
    text-decoration: none;
    color: rgba(0, 0, 0, .4);
}

.meta a:hover {
    text-decoration: underline;
}

.recent-viewed-detail{
    font-size: 11px;
}

.recent-viewed-heading{
    font-size: 16px;
}

#feed-section::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#feed-section::-webkit-scrollbar
{
    width: 4px;
    background-color: #F5F5F5;
}

#feed-section::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #e4e4e4;
}

.feed-time-stamp{
  font-size: 12px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.panel-heading:hover .image {
  opacity: 0.3;
}

.panel-heading:hover .middle {
  opacity: 1;
  z-index: 220;
}

.container-profile-photo {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;

}

.container-profile-photo:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.container-profile-photo img{
    margin-left: 0px;
}

.button {
  position: absolute;
  bottom: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  opacity: 0;
  width: 100%;
  text-align: center;
  background: #acacac;
  transition: opacity .35s ease;
}

.button a {
  text-align: center;
  color: white;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
}

.container-profile-photo:hover .button {
  opacity: 1;
}

.bio-textarea{
  resize: none;
  display: block;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}