
/* 1360x768 and 1366x768 */
@media (min-width: 1360px) and (max-width: 1366px){ 
  
}

/* 1600x900 */
@media (min-width: 1599px) and (max-width: 1768px){

}

/* 1920x1080 */
@media (min-width: 1919px) and (max-width: 1920px){
}

@media (min-width: 320px) and (max-width: 768px){
  .prfcntnt{
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* IPAD */
@media (min-width: 767px) and (max-width: 768px){

}

/* IPAD PRO*/
@media (min-width: 1023px) and (max-width: 1024px){ 
}

/* MOBILE DEVICES */
@media (max-width: 415px){
}

/*SMALLER MOBILE DEVICES*/
@media (max-width: 380px){
}

/* iPhone 5*/
@media (max-width: 320px){
}

.panel-thumbnail img{
    display: block;
    margin: auto;
    object-fit: cover;
    overflow: hidden;
}

.panel-thumbnail{
    background: #000;
}

.profile-name{
  font-family: Montserrat;
  font-size: 38px;
}

.editprof-btn{
  background: #F9A825;
  border-color: #F9A825;
  padding: 7px 12px;
  border-radius: 3px;
  color: #fff;
}

.editprof-btn:hover{
  background: #FF9800;
  border-color: #FF9800;
  color: #fff;
}

.user-info{
  border-color: #F9A825;
  background: transparent;
  text-align: left;
}

.user-info .fa{
  color: #F9A825;
  font-size: 18px;
}

.media{
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  border-bottom: 3px solid #F9A825;
}

.media-body{
  background: #fff;
}

.media-left{
  padding-right: 0px;  
}

.media-body h4, .media-body p{
  text-indent: 10px;
}
