
/* 1360x768 and 1366x768 */
@media (min-width: 1360px) and (max-width: 1366px){ 
  
}

/* 1600x900 */
@media (min-width: 1599px) and (max-width: 1768px){

}

/* 1920x1080 */
@media (min-width: 1919px) and (max-width: 1920px){
}

@media (min-width: 320px) and (max-width: 768px){
  .prfcntnt{
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* IPAD */
@media (min-width: 767px) and (max-width: 768px){

}

/* IPAD PRO*/
@media (min-width: 1023px) and (max-width: 1024px){ 
}

/* MOBILE DEVICES */
@media (max-width: 415px){
}

/*SMALLER MOBILE DEVICES*/
@media (max-width: 380px){
}

/* iPhone 5*/
@media (max-width: 320px){
}

html,body{
  background: #161616;
}

.dropdown-menu{
  border: 1px solid #212121;
  background: #232323;
  padding-top: 0px;
  padding-bottom: 0px;
}

.editprofActions{
  color: #212121;
}

.editprofActions li{
  padding: 5px 5px 5px 20px;
  color: #fafafa;
  border-radius: 4px;
}

.editprofActions:hover li{
  background: #e57c1f !important;
  color: #fafafa !important;
}

.editprofActions2{
  padding: 0px;
  color: #fafafa;
  border-radius: 4px;
}

.editprofActions2 .btn{
  background: transparent;
  border: none;
  color: #fafafa;
  width: 100%;
  text-align: left;
  padding-left: 20px;
}

.editprofActions2 span:hover{
  background: #e57c1f !important;
  color: #fafafa !important;
}

.panel-thumbnail img{
    display: block;
    margin: auto;
    object-fit: cover;
    overflow: hidden;
}

.panel-thumbnail{
    background: #000;
}

.profile-name{
  font-family: Montserrat;
  font-size: 32px;
}

.editprof-btn{
  background: #e57c1f;
  border-color: #e57c1f;
  padding: 7px 12px;
  border-radius: 3px;
  color: #fff;
}

.editprof-btn:hover{
  background: #FF9800;
  border-color: #FF9800;
  color: #fff;
}

.user-info{
  border-color: #e57c1f;
  background: transparent;
  text-align: left;
}

.user-info .fa{
  color: #e57c1f;
  font-size: 14px;
}

.media{
  border: 2px solid #bdbdbd;
  border-radius: 4px;
}

.media-body{
  background: #fff;
}

.media-left{
  padding-right: 0px;  
}